.fluid-container {
	height: 100vh;
	padding-top: 0px;
}

#home {
	background-image: url(pink_rice/pink_rice.png);
	height: 25%;
}

.btn {
	transition: .25s ease-in-out;
}

.btn:hover {
	transform: scale(1.1, 1.1);
	margin-right: 5px;
	margin-left: 5px;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active {
	background-color: #fff;
}

.btn:hover .fa {
	color: #ffb6c1;
}

#main-title {
	margin-top: 0;
	padding-top: 20px;
	color: white;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: .5px;
}

.image1 {
	position: relative;
	width: 200px;
}

.image1 img {
	
}

.overlay {
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	color: white;
	transition: opacity 300ms ease-in;
}

.image1:hover .overlay {
	opacity: 1;
}
