.fluid-container {
	height: 100vh;
	padding-top: 0px;
}

#home {
	background-image: url(hero2.jpg);
	width: 100%;
	padding-bottom: 25%;
	background-size: cover;
	box-shadow: 0px 10px 10px -8px gray;
}

.btn {
	transition: .25s ease-in-out;
}

.btn:hover {
	transform: scale(1.1, 1.1);
	margin-right: 5px;
	margin-left: 5px;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active {
	background-color: #fff;
}

.btn:hover .fa {
	color: #ffb6c1;
}


#main-title {	
	padding-top: 8%;
	font-size: 400%;
	font-weight: bold;
	color: white;
}

small {
	color: #e5e5e5;
	font-size: 125%
}

.email {
	padding-bottom: 10px;
}

#about-skills {
	padding-top: 30px;
}

#about {
	padding-top: 15px;
	position: relative;
}


#about:after {
	content: "";
	position: absolute;
	width: 50%;
	border-bottom: 1px solid #eee;
	height: 1px;
	bottom: -5px;
	left: 25%;
}

#skills {
	position: relative;
}

#skills:after {
	content: "";
	position: absolute;
	width: 50%;
	border-bottom: 1px solid #eee;
	height: 1px;
	bottom: -5px;
	left: 25%;
}

.skills-list {
	list-style-type: none;
	padding: 0;
}

/* PORTFOLIO AND THUMBNAIL OVERLAY */

.portfolio-images {
	padding-top: 50px;
}

.project-thumbnail {
	position: relative;
	left: 30px;
	height: 300px;
	width: 325px;
	margin-bottom: 40px;
	transition: 300ms ease-in-out;
}

.project-image {
	height: 100%;
}

.overlay {
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	color: white;
	transition: 300ms ease-in-out;
}

.project-thumbnail:hover {
	transform: scale(1.05, 1.05);
}

.project-thumbnail:hover .overlay {
	opacity: 1;
}

.github-overlay {
	position: relative;
	top: 25%;
	color: #ffb6c1;
}

.github-overlay a {
	color: #ffb6c1;
}

.github-overlay a:visited {
	color: #ffb6c1;
}

.github-overlay a:hover {
	color: #ff9dab;
}

.github-overlay p {
	font-size: 120%;
}
