.fluid-container {
	height: 100vh;
	padding-top: 0px;
}

#home {
	background-image: url(pink_rice/pink_rice.png);
	height: 15%;
}

.btn {
	transition: .25s ease-in-out;
}

.btn:hover {
	transform: scale(1.1, 1.1);
	margin-right: 5px;
	margin-left: 5px;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active {
	background-color: #fff;
}

.btn:hover .fa {
	color: #ffb6c1;
}

#main-title {
	margin-top: 0;
	padding-top: 20px;
	color: white;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: .75px;
}

small {
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: .2px !important;
}

#about-skills {
	padding-top: 30px;
}

#about {
	padding-top: 15px;
	position: relative;
}


#about:after {
	content: "";
	position: absolute;
	width: 50%;
	border-bottom: 1px solid #eee;
	height: 1px;
	bottom: -5px;
	left: 25%;
}

#skills {
	position: relative;
}

#skills:after {
	content: "";
	position: absolute;
	width: 50%;
	border-bottom: 1px solid #eee;
	height: 1px;
	bottom: -5px;
	left: 25%;
}

.skills-list {
	list-style-type: none;
	padding: 0;
}

/* PORTFOLIO AND THUMBNAIL OVERLAY */

.portfolio-images {
	padding-top: 50px;
}

.project-thumbnail {
	position: relative;
	left: 30px;
	height: 300px;
	width: 325px;
	margin-bottom: 40px;
	transition: 300ms ease-in-out;
}

.project-image {
	height: 100%;
}

.overlay {
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	color: white;
	transition: 300ms ease-in-out;
}

.project-thumbnail:hover {
	transform: scale(1.05, 1.05);
}

.project-thumbnail:hover .overlay {
	opacity: 1;
}

.github-overlay {
	position: relative;
	top: 25%;
	color: #ffb6c1;
}

.github-overlay a {
	color: #ffb6c1;
}

.github-overlay a:visited {
	color: #ffb6c1;
}

.github-overlay a:hover {
	color: #ff9dab;
}

.github-overlay p {
	font-size: 120%;
}
