.fluid-container {
	padding-top: 0px;
}

#home {
	background-image: url(header_images/hero2.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	box-shadow: 0px 10px 10px -7px gray;
	position: relative;
}

.btn {
	transition: .25s ease-in-out;
}

.btn:hover {
	transform: scale(1.1, 1.1);
	margin-right: 5px;
	margin-left: 5px;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active {
	background-color: #fff;
}

.intro-box{
	position: absolute;
	bottom: 35%;
	left: 14%;
	right: 14%;
	background-color: rgba(0,0,0, 0.5);
	border-radius: 10px;
	display: none;
}

.btn:hover .fa {
	color: #ffb6c1;
}

#main-title {	
	margin-bottom: 0;
	font-size: 350%;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: medium solid white;
}

small {
	margin-top: 4px;
	color: #fff;
	font-size: 125%;
}

.social {
	padding-bottom: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.email {
	padding-bottom: 10px;
}

.fa-code {
	scroll-behavior: smooth;
}

.fadeInScroll {
	opacity: 0;
}

#about-skills {
	padding-top: 15px;
}

#about {
	padding-top: 15px;
	position: relative;
}


#about:after {
	content: "";
	position: absolute;
	width: 50%;
	border-bottom: 1px solid #eee;
	height: 1px;
	bottom: -5px;
	left: 25%;
}

#skills {
	position: relative;
}

#skills:after {
	content: "";
	position: absolute;
	width: 50%;
	border-bottom: 1px solid #eee;
	height: 1px;
	bottom: -5px;
	left: 25%;
}

.skills-list {
	padding-top: 20px;
}

.skill {
	padding-top: 5px;

}

.skill-title {
	padding-top: 10px;
}

.skill-image {
	height: 55px;
	width: 50px;
}

#ror {
	width: 45px;
}

#css3 {
	width: 60px;
}

/* PORTFOLIO AND THUMBNAIL OVERLAY */

.portfolio-images {
	padding-top: 50px;
}

.project-thumbnail {
	position: relative;
	left: 30px;
	height: 300px;
	width: 325px;
	margin-bottom: 40px;
	transition: 300ms ease-in-out;
}

.project-image {
	height: 100%;
}

.overlay {
	opacity: 0;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	transition: 300ms ease-in-out;
}

.project-thumbnail:hover {
	transform: scale(1.05, 1.05);
}

.project-thumbnail:hover .overlay {
	opacity: 1;
}

.github-overlay {
	position: relative;
	color: #ffb6c1;
	top: 15%;
}

.project-title {
	margin-top: 0;
}

.project-link {
	padding-bottom: 10px;
}

.project-intro {
	border-bottom: #ffb6c1 medium solid;
}

.project-details {
	margin-top: 10px;
	list-style-type: none;
	padding: 0;
}

.detail {
	padding-top: 3px;
}

.github-overlay a {
	text-decoration: none;
	color: #ffb6c1;
}

.github-overlay a:visited {
	color: #ffb6c1;
}

.github-overlay a:hover {
	text-decoration: none;
	color: #ff9dab;
}

.github-overlay p {
	font-size: 120%;
}
